"""Change values in this file as needed & make a copy titled `settings.py`"""

# general settings
DEBUG = True
TRAP_HTTP_EXCEPTIONS = True

# secret keys
SECRET_KEY = 'secret_key_goes_here'
STS_SECRET_KEY = 'different_secret_key'

# flask-hashing settings
HASHING_METHOD = 'sha256' # or other method
HASHING_ROUNDS = 1
HASHING_SALT_PW = 'secret_salt_here'

# hashid settings
HASHID_SALT = 'unimportant hashid salt here'

# SQLAlchemy settings
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_DATABASE_URL = \
        'postgresql://<db_username>:<db_password>@postgres:5432/fnote'

# Mail settings, assuming gmail
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 465
MAIL_USE_SSL = True
MAIL_USERNAME = 'username@here'
MAIL_DEFAULT_SENDER = MAIL_USERNAME
MAIL_PASSWORD = 'passwordgoeshere'
# Other mail settings as needed, if a different mail server is being used
