DEBUG = True
SECRET_KEY = 'secret_key_goes_here'
TRAP_HTTP_EXCEPTIONS = True

# flask-hashing settings
HASHING_METHOD = 'sha256' # or other method
HASHING_ROUNDS = 1
HASHING_SALT_PW = 'secret_salt_here'

# hashid settings
HASHID_SALT = 'unimportant hashid salt here'

# SQLAlchemy settings
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_DATABASE_URL = 'postgresql://<db_username>:<db_password>@postgres:5432/fnote'
