body {
  font-family: "inconsolata", "monospace";
}

textarea {
  resize: none;
  border: solid black 1px;
  width: 100%;
  border: 0px;
}

textarea:focus {
  outline: none;
}

input {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2em;
  margin-bottom: 25px;
  border-radius: 5px;
}

.note-detail-container {
  height: 80vh;
}

.note-title-container {
  height: 50px;
  width: 100%;
}

.new-note-exp {
  padding: 20px;
}

#note-feedback-container {
  height: 20px;
  font-size: 20px;
  width: 100%;
}

#note-feedback {
  color: rgba(0, 175, 75, .6);
}

.note-li {
  font-size: 2em;
  border-radius: 0px;
  border: solid #eee 2px;
  background-color: #eee;
  margin: 0px;
}

#new-note-button {
  font-size: 2em;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #0c6;
  border: solid #0c6 2px;
}

#new-note-button.selected-note-li {
  border: solid rgb(50, 100, 255) 2px;
}

.selected-note-li {
  border: solid rgb(50, 100, 255) 2px;
}

.btn {
  width: 18%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.auth-btn {
  font-size: 1.5em;
  width: 30%;
}

#new-title, #update-title {
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 50px;
  font-size: 33px;
  border: 0px;
  border-bottom: 1px solid black;
}

#new-text, #update-text {
  margin-top: 0px;
  padding-top: 0px;
  height: 90%;
  font-size: 20px;
  border-top: 1px solid black;
}

.navlink:hover {
  cursor: pointer;
}

.navbar-header {
  font-size: 2em;
  margin-bottom: 30px;
}

#navbar-header {
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
}

.reg-success {
  margin-top: 40px;
}

#about-page {
  display: none;
}
