textarea {
  resize: none;
  border: solid black 1px;
}

.note-detail-container {
  height: 80vh;
}

.note-title-container {
  height: 40px;
  width: 100%;
}

.note-li {
  font-size: 2em;
}

#new-title, #update-title {
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 80%;
  height: 40px;
}

#new-note-submit, #update-note-submit {
  width: 18%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

#new-text, #update-text {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  height: 90%;
}
